/* imagen pantalla login en desktop /*/
/*
.login__image--desktop {
	background-image: url('./../assets/images/login/pui9_back_hd.png') !important;
	height: 60vh;
	width: 100%;
}
*/

/* imagen pantalla login en móvil */
/*
@media (max-width: 1100px) {
	.login__image--desktop {
		background-image: url('./../assets/images/login/pui9_back.png') !important;
	}
}
*/

/* logo aplicación en el menú */
/*
.puimenu-leftBar__logo-img {
	background-image: url('./../assets/images/portsib_logo_mini.png');
}
*/

/* logo aplicación en el home */
/*
.puiwellcomepanel__logo-img {
background: url('./../assets/images/portsib_logo.png') no-repeat center;
}
*/
